/*div {
    border-left: 10px solid red;
    border-right: 10px solid red;
    width: 5px;
    height: 30px;
}*/
div{
    border-bottom: 30px solid transparent;
    border-left: 30px solid red;
    border-right: 30px solid red;
    width: 0;
}